.events{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.event{
    flex-basis: 30%;
    position: relative;
}

.caption{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(90, 90, 90, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(206, 195, 195);
    padding-left: 20px;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.7s;
}

.btn2{
    background: rgb(201, 43, 43);
    color: rgb(255, 255, 255);
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 40px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.event:hover .caption{
    opacity: 1;
    padding-top: 0;
}

@media (max-width: 650px) {
    .events{
        flex-direction: column;
    }
    .event{
        flex-basis: 100%;
        margin: 20px;
    }
    
}