.home{
    width: 100%;
    min-height: 110vh;
    background: url('../../assets/coverpantas.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    text-align: center;
    max-width: 800px;
    
}

.btn1{
    background: rgb(48, 158, 14);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.home-text h1{
    font-size: 60px;
    font-weight: 600;
}

.btn1 img{
    width: 30px;
    margin-left: 6px;
}

@media (max-width: 850px) {
    .home-text h1{
        font-size: 40px;
    }
    
}

@media (max-width: 650px) {
    .home-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    
}