.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 50%;
    color: rgb(206, 195, 195);
}

.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li img{
    width: 35px;
    margin-right: 10px;
}

.contact form textarea{
    display: block;
    width: 100%;
    background: rgb(54, 53, 53);
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 20px;
    resize: none;
}

.contact-col span{
    display: block;
    margin: 20px 0;
}


@media (max-width: 700px) {
    .contact{
        display: block;
    }
    .contact-col{
        padding: 5px;
    }
    
}